.nav-text a {
  text-decoration: none;
  margin-right: 10px;
  padding: 20px 30px;
  margin: 0;
  margin-right: auto;
}
.nav-text span {
  color: aliceblue;
  text-align: center;
  padding-top: 20px;
}
.nav-text a:hover {
  background-color: black;
}
.navbar-dark {
  padding: 0;
}
.nav-text {
  font-size: 25px;
}
.navbar-collapse {
  width: 100%;
}
.logout-btn {
  text-decoration: none;
  margin-right: 10px;
  padding: 20px 30px;
  margin: 0;
  margin-right: auto;
  color: white;
  background-color: #212529;
  border: 0;
}
.hospital {
  font-size: 40px;
  font-weight: 400;
  padding: 0;
  padding: 8px;
  text-decoration: none;
}
.navbar-light {
  padding: 0;
}
.navbar-expand {
  width: 100%;
}
