.about-section {
  background-color: #4485ee;
  padding: 20px;
  color: white;
}
.about-image {
  background-image: url("https://images.unsplash.com/photo-1625134673337-519d4d10b313?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1838&q=80"),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  height: 380px;
  width: 100%;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 30px;
}
.about-image p {
  margin: 0;
}
.about-text {
  margin: 20px 100px 100px 100px;
  background-color: white;
  color: black;
  text-align: left;
  padding: 15px;
}
.about-text div {
  padding: 20px;
}
