.doctor-img {
  width: 300px;
  height: 230px;
}
.doctor {
  display: flex;
  justify-content: center;
}
.meet-link {
  text-decoration: none;
  color: aliceblue;
}
.card-meet {
  background-color: #4485ee;
}
.card-meet a {
  color: white;
}
.doctor-flex {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
